%nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark{"aria-label" => "Main navigation"}
  .container-fluid
    %a.navbar-brand{:href => "#"} Merson Vagas
    %button#navbarSideCollapse.navbar-toggler.p-0.border-0{"aria-label" => "Toggle navigation", :type => "button"}
      %span.navbar-toggler-icon
    #navbarsExampleDefault.navbar-collapse.offcanvas-collapse
      %ul.navbar-nav.me-auto.mb-2.mb-lg-0
        %li.nav-item
          %a.nav-link{:href => root_path} Início
        %li.nav-item
          %a.nav-link{:href => dynamic_url_company} Minha Empresa
        - unless user_signed_in?
          %li.nav-item
            %a.nav-link{:href => new_user_session_path} Login/Cadastro
        - if user_signed_in?
          %li.nav-item.dropdown
            %a#dropdown01.nav-link.dropdown-toggle{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#"} Settings
            %ul.dropdown-menu{"aria-labelledby" => "dropdown01"}
              %li
                = link_to('Sair', destroy_user_session_path, method: :delete, class: 'dropdown-item')
              %li
                %a.dropdown-item{:href => "#"} Another action
              %li
                %a.dropdown-item{:href => "#"} Something else here